docs/* linguist-documentation
notebooks/*.ipynb linguist-documentation
examples/*.ipynb linguist-documentation=false
*.psd filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
